html {
  font-family: "Nunito Sans", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol,
    "Noto Color Emoji";
}

@font-face {
  font-display: swap;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 100 900;
  src: url("/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf")
    format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 100 900;
  src: url("/fonts/NunitoSans-Italic-VariableFont_YTLC,opsz,wdth,wght.ttf")
    format("truetype");
}
