@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input {
    @apply bg-gray-900;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }
  input[data-autocompleted] {
    background-color: transparent !important;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  .button {
    @apply rounded px-3 py-2 text-lg font-semibold text-white;
  }

  .button-primary {
    @apply bg-violet-600 hover:bg-violet-800;
  }

  .button-secondary {
    @apply bg-emerald-600 hover:bg-emerald-800;
  }

  .button-danger {
    @apply bg-red-500 hover:bg-red-600;
  }
}
